<html>
    <head>
        <title>Home</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery -->
        <script src="/angular.js"></script> <!--l oad angular -->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"> 
        <link rel="stylesheet" href="/css/alertify.css" type="text/css">
        <script src="/controller/controllerHome.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/alertify.js"></script>
    </head>
    <body ng-app="Home" ng-controller="HomeController">
        <div class="myDefault-page">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showData()">Show Data</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addData()">Add Data</button>
        </div>
    </body>
</html>