<html>
    <head>
        <title>Show Data</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery -->
        <script src="/angular.js"></script> <!--l oad angular -->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"> 
        <link rel="stylesheet" href="/css/alertify.css" type="text/css">
        <script src="/controller/controllerShowData.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/alertify.js"></script>
        
    </head>
    <body ng-app="ShowData" ng-controller="ShowDataController">
        <div class="myDefault-page">
            <table class="table">
                <thead class="bg-dark">
                    <tr>
                        <th rowspan="2">User ID</th>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">Email</th>
                        <th rowspan="2">Address</th>
                        <th rowspan="2">Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="pointer" ng-repeat="user in users">
                        <td >{{ user.userID }}</td>
                        <td >{{ user.name }}</td>
                        <td >{{ user.email }}</td>
                        <td >{{ user.address }}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="updateData(user.userID)">Edit</button>
                            <button class="btn btn-primary" ng-click="ask(user.userID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>