<html>
    <head>
        <title>Manipulate Data</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery -->
        <script src="/angular.js"></script> <!--l oad angular -->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"> 
        <link rel="stylesheet" href="/css/alertify.css" type="text/css">
        <script src="/controller/controllerUpdateData.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/alertify.js"></script>
    </head>
    <body ng-app="UpdateData" ng-controller="UpdateDataController">
        <form class="myDefault-page">
            <input type="hidden" class="form-control" id="userID" placeholder="userID"  ng-model="formData.userID">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Input your Name here" ng-model="formData.name">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Input your Email here" ng-model="formData.email">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="Input phone Number here" ng-model="formData.phoneNumber">
                </div>
                <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <textarea class="form-control" id="address" rows="3"  ng-model="formData.address"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary"  ng-click="updateData()">Update</button>
                </div>
            </div>
          </form>
    </body>
</html>